{{ define "main" -}}
    {{ $data := dict }}
    {{ $json := resources.Get (.Param "data") }}
    {{ $iconPaths := resources.Get "data/IconPaths.json"}}
    {{ with $json | transform.Unmarshal }}
        {{ $data = . }}
    {{ end }}
    <script>
        function openTab(territory, coffer, addQuery) {
            if (addQuery)
            {
                const url = new URL(window.location)
                url.searchParams.set('territory', territory);
                url.searchParams.set('coffer', coffer);

                history.pushState(null, '', url)
            }

            // Declare all variables
            var i, tablinks;

            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (const element of tablinks) {
                element.classList.remove('active');
            }

            // Show the current tab, and add an "active" class to the link that opened the tab
            document.getElementById('tabcontent').style.display = "block";
            document.getElementById(`${territory}${coffer}-tab`).classList.add('active');

            Promise.all([
                fetch('{{$json.RelPermalink}}'),
                fetch('{{$iconPaths.RelPermalink}}')
            ]).then(async (response) => {
                const mappedData = await Promise.all(response.map(result => result.json()));
                const data = mappedData[0];
                const iconPaths = mappedData[1];

                let e = document.getElementById("patch");
                let selectedPatch = e.options[e.selectedIndex].text;

                let table1 = document.getElementById('table1');
                let loadedData = data.find((e) => e.Territory === territory);
                let cofferData = loadedData.Coffers.find((e) => e.CofferId === coffer)

                if (!(selectedPatch in cofferData.Patches))
                    selectedPatch = "All";

                let patchData = cofferData.Patches[selectedPatch];
                makeSortableTable(table1, patchData.Items, [
                    {
                        header: '',
                        sortable: false,
                        templateRenderer: (row) => {
                            return `<img width="40" height="40" loading="lazy" src="https://v2.xivapi.com/api/asset?path=ui/icon/${iconPaths[row.Id]}_hr1.tex&format=png">`
                        },
                        classExtension: ['icon']
                    },
                                            {
                            header: 'Name',
                            field: 'Name',
                            templateRenderer: (row) => {
                                const wikiName = row.Name.replace(/\s+/g, '_');
                                return `<a href="https://ffxiv.consolegameswiki.com/wiki/${wikiName}" class="link-body-emphasis link-offset-2 link-underline link-underline-opacity-0" target="_blank">${row.Name}</a>`
                            }
                        },
                    {header: 'Obtained', field: 'Amount', classExtension: ['number', 'text-center']},
                    {header: 'Total', field: 'Total', classExtension: ['number', 'text-center']},
                    {
                        header: 'Min-Max',
                        field: 'Min',
                        valueRenderer: (row) => `${row.Min}–${row.Max}`,
                        classExtension: ['number', 'text-center']
                    },
                    {
                        header: 'Chance',
                        field: 'Percentage',
                        defaultSort: 'asc',
                        valueRenderer: (row) => `${(row.Percentage * 100).toFixed(2)}%`,
                        classExtension: ['percentage', 'text-end']
                    },
                ]);

                const stats = document.getElementById('stats');

                const fragment = new DocumentFragment();
                const div = document.createElement('div');
                div.classList.add("card");

                const innerDiv = document.createElement('div');
                innerDiv.classList.add("card-header");
                innerDiv.innerHTML = `<strong>${loadedData.Name} Stats</strong>`;

                const ul = document.createElement('ul');
                ul.classList.add("list-group", "list-group-flush");

                const li1 = document.createElement('li');
                li1.classList.add("list-group-item")
                var total = 0;
                loadedData.Coffers.forEach(coffer => {total += coffer.Patches[selectedPatch].Total})
                li1.innerText = `Total: ${total.toLocaleString()}`

                const li2 = document.createElement('li');
                li2.classList.add("list-group-item")
                li2.innerText = `${cofferData.CofferName}: ${patchData.Total.toLocaleString()}`

                const li3 = document.createElement('li');
                li3.classList.add("list-group-item");
                const label = document.createElement('label')
                label.htmlFor = "patch";
                label.innerHTML = "Patch";
                const select = document.createElement('select');
                select.id = "patch";
                select.name = "patch";
                select.onchange = patchSelectionChanged;
                select.classList.add("form-select");

                li3.append(label, select);

                for (const key of Object.keys(cofferData.Patches)) {
                    var option = option = document.createElement("option");
                    option.value = key;
                    option.text = key;
                    select.appendChild(option);
                }

                select.value = selectedPatch

                ul.append(li1, li2, li3);
                div.append(innerDiv, ul);

                fragment.appendChild(div);

                stats.innerHTML = '';
                stats.appendChild(fragment);
                
                // Scroll to the top of the page
                window.scrollTo(0, 0);
            });
        }

        function patchSelectionChanged() {
            {{ $firstData := (index $data 0) }}
            let territory = {{ $firstData.Territory }};
            let coffer = {{ (index $firstData.Coffers 0).CofferId }};

            const url = new URL(window.location.href);
            if (url.searchParams.has('territory') && url.searchParams.has('coffer')) {
                territory = parseInt(url.searchParams.get('territory'));
                coffer = parseInt(url.searchParams.get('coffer'));
            }

            openTab(territory, coffer, false)
        }

        window.addEventListener("load", (event) => {
            {{ $firstData := (index $data 0) }}
            let territory = {{ $firstData.Territory }};
            let coffer = {{ (index $firstData.Coffers 0).CofferId }};

            const url = new URL(window.location.href);
            if (url.searchParams.has('territory') && url.searchParams.has('coffer')) {
                territory = parseInt(url.searchParams.get('territory'));
                coffer = parseInt(url.searchParams.get('coffer'));
            }

            openTab(territory, coffer, false)

            {{ range $data }}
                var element = document.getElementById('{{ .Territory }}-button');
                element.classList.add("collapsed");
            {{ end }}

            let collapseActive = document.getElementById(`${territory}-collapse`);
            collapseActive.classList.add("show");

            let collapseButton = document.getElementById(`${territory}-button`);
            collapseButton.classList.remove("collapsed");
            collapseButton.setAttribute("aria-expanded", "true")
        });
    </script>

    <button class="btn btn-primary btn-lg rounded-xl d-lg-none position-fixed bottom-0 end-0 m-3 w-auto z-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilter" aria-controls="offcanvasFilter">
        <i class="fas fa-filter"></i>
    </button>
    
    <div class="col-12 col-lg-3 order-0 order-lg-1 sticky-left-col">
        <div class="offcanvas-lg offcanvas-start" tabindex="-1" id="offcanvasFilter" aria-labelledby="offcanvasFilterLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasFilterLabel">Filter your category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasFilter" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="accordion w-100" id="accordionExample">
                    {{ range $category := $data }}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button id="{{ $category.Territory | int}}-button" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ $category.Territory | int }}-collapse" aria-expanded="false" aria-controls="{{ $category.Territory | int }}-collapse">
                                    {{ $category.Name }}
                                </button>
                            </h2>
                            <div id="{{ $category.Territory | int }}-collapse" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{ range .Coffers }}
                                    <div class="tab">
                                        <button id="{{ $category.Territory | int }}{{ .CofferId | int }}-tab" class="tablinks btn accordion-body-btn" onclick="openTab({{ $category.Territory | int }}, {{ .CofferId | int }}, true)">{{ .CofferName }}</button>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-2 order-0 order-lg-3">
        <div id="stats" class="stats">
            <label for="patch">Patch</label>
            <select id="patch" class="form-select">
                <option value="All">All</option>
            </select>
        </div>
    </div>
    <div class="col-12 col-lg-7 order-0 order-lg-2">
        <div id="tabcontent" class="table-responsive">
            <table id="table1" class="table table-striped align-middle table-sm table-hover table-borderless"></table>
        </div>
    </div>
{{ end -}}
