{{ define "main" -}}
    {{ $data := dict }}
    {{ $json := resources.Get (.Param "data") }}
    {{ $spriteSheet := resources.Get "data/SpritesheetOffsets.json"}}
    {{ with $json | transform.Unmarshal }}
        {{ $data = . }}
    {{ end }}
    <script>
        let data;
        let spritesheetOffsets;

        function onButtonClick(id, usedData, toName, statsType) {
            let table1 = document.getElementById('table1');
            let loadedData = usedData[id];

            makeSortableTable(table1, loadedData.Results, [
                {
                    header: '',
                    sortable: false,
                    templateRenderer: (row) => {
                        let offsets = spritesheetOffsets[row.Icon];
                        return `<img class="sprite" width="40" height="40" style="background-position: -${offsets.Width}px -${offsets.Height}px">`
                    },
                    classExtension: ['icon']
                },
                {header: 'Name', field: 'Name'},
                {header: 'Obtained', field: 'Received', classExtension: ['number', 'text-center']},
                {
                    header: 'Min-Max',
                    field: 'Min',
                    valueRenderer: (row) => `${row.Min}–${row.Max}`,
                    classExtension: ['number', 'text-center']
                },
                {
                    header: 'Chance',
                    field: 'Percentage',
                    defaultSort: 'asc',
                    valueRenderer: (row) => `${(row.Percentage * 100).toFixed(2)}%`,
                    classExtension: ['percentage', 'text-end']
                },
            ]);


            const stats = document.getElementById('stats');

            const fragment = new DocumentFragment();
            const div = document.createElement('div');
            div.classList.add("card");

            const innerDiv = document.createElement('div');
            innerDiv.classList.add("card-header");
            innerDiv.innerHTML = `<strong>${toName[id]} Stats</strong>`;

            const ul = document.createElement('ul');
            ul.classList.add("list-group", "list-group-flush");

            const li1 = document.createElement('li');
            li1.classList.add("list-group-item")
            li1.innerText = `${statsType}: ${loadedData.Records.toLocaleString()}`

            const li2 = document.createElement('li');
            li2.classList.add("list-group-item")
            li2.innerText = " "

            const li3 = document.createElement('li');
            li3.classList.add("list-group-item");
            li3.innerText = " ";

            ul.append(li1, li2, li3);
            div.append(innerDiv, ul);

            fragment.appendChild(div);

            stats.innerHTML = '';
            stats.appendChild(fragment);

            let buttons = document.getElementsByClassName("resultButton");
            Array.from(buttons).forEach(function (element) {
                element.classList.remove("btn-success");
            });

            let button = document.getElementById(`${id}`);
            button.classList.add("btn-success")
        }

        function getKeyByValue(object, value) {
            return Object.keys(object).find(key => object[key] === value);
        }

        function inputChecker(event, usedData, usedToName, statsType, resultElement) {
            const first10 = [];

            let toName = Object.values(usedToName);
            toName.find(e => (e.includes(event.target.value) && first10.push(e), first10.length >= 10));

            let element = document.getElementById(resultElement);
            element.innerHTML = '';
            if (first10.length > 0) {
                for (let name of first10) {
                    let id = getKeyByValue(usedToName, name);

                    let button = document.createElement('button');
                    button.id = id;
                    button.classList.add("btn", "btn-primary", "btn-sm", "resultButton");
                    button.type = 'button';
                    button.innerText = name;
                    button.onclick = function(){onButtonClick(id, usedData, usedToName, statsType)}

                    element.appendChild(button);
                }
            }
            else {
                element.innerText = "Nothing found";
            }
        }

        window.addEventListener("load", (event) => {
            Promise.all([
                fetch('{{$json.RelPermalink}}'),
                fetch('{{$spriteSheet.RelPermalink}}')
            ]).then(async (response) => {
                const mappedData = await Promise.all(response.map(result => result.json()));
                data = mappedData[0];
                spritesheetOffsets = mappedData[1];
            });

            const sourceInput = document.getElementById("sourceSearchInput");
            sourceInput.addEventListener("input", (inputEvent) => {
                if (!data) {
                    return;
                }

                inputChecker(inputEvent, data.Sources, data.SourceToName, 'Desynths', 'sourceSearchResult');
            });

            const rewardInput = document.getElementById("rewardSearchInput");
            rewardInput.addEventListener("input", (inputEvent) => {
                if (!data) {
                    return;
                }

                inputChecker(inputEvent, data.Rewards, data.RewardToName, 'Received', 'rewardSearchResult');
            });
        });
    </script>
    <div class="col-6 col-lg-3 order-0 order-lg-1">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button id="source-button" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#source-collapse" aria-expanded="true" aria-controls="source-collapse">
                        Source Search
                    </button>
                </h2>
                <div id="source-collapse" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="input-group mb-3">
                            <input id="sourceSearchInput" type="text" class="form-control" placeholder="Source Item" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div id="sourceSearchResult" class="d-grid gap-1"></div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button id="reward-button" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#reward-collapse" aria-expanded="true" aria-controls="reward-collapse">
                        Reward Search
                    </button>
                </h2>
                <div id="reward-collapse" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="input-group mb-3">
                            <input id="rewardSearchInput" type="text" class="form-control" placeholder="Reward Item" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div id="rewardSearchResult" class="d-grid gap-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 col-lg-2 order-0 order-lg-3">
        <div id="stats" class="stats"></div>
    </div>
    <div class="col-12 col-lg-7 order-0 order-lg-2">
        <div id="tabcontent">
            <table id="table1" class="table table-sm table-striped table-bordered border-dark align-middle"></table>
        </div>
    </div>
{{ end -}}
