<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ if .Site.Params.favicon }}
    <link rel="icon" type="image/x-icon" href="{{ .Site.Params.favicon | relURL}}">
  {{ else }}
    <link rel="icon" type="image/x-icon" href="{{ relURL "favicon.png"}}">
  {{ end }}

  <link rel="stylesheet" href="{{  relURL "css/main.css" }}">
  <link rel="stylesheet" href="{{  relURL "css/fontawesome/all.css" }}">
  <link rel="stylesheet" href="{{  relURL "css/bootstrap/bootstrap.min.css" }}">
  <script type="text/javascript" src="{{ relURL "js/table.js" }}"></script>
  <script type="text/javascript" src="{{ relURL "js/bootstrap/bootstrap.bundle.min.js" }}"></script>

  <title>{{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Page.Permalink }}" />
  <meta property="og:description" content="This website is a collection of data on gacha elements that the game FFXIV provides." />

  <style>
    .sprite {
      border: none;
      background-color: transparent;
      background-image: url("{{ relURL "spritesheet/spritesheet.webp" }}");
      background-repeat: no-repeat;
    }
  </style>
</head>