<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ if .Site.Params.favicon }}
    <link rel="icon" type="image/x-icon" href="{{ .Site.Params.favicon | relURL}}">
  {{ else }}
    <link rel="icon" type="image/x-icon" href="{{ relURL "favicon.png"}}">
  {{ end }}

  <link rel="stylesheet" href="{{  relURL "css/fontawesome/all.css" }}">
  <link rel="stylesheet" href="{{  relURL "css/bootstrap/bootstrap.min.css" }}">
  <script type="text/javascript" src="{{ relURL "js/bootstrap/bootstrap.bundle.min.js" }}"></script>


  <link rel="stylesheet" href="{{  relURL "css/main.css" }}">
  <script type="text/javascript" src="{{ relURL "js/table.js" }}"></script>
  <script type="text/javascript" src="{{ relURL "js/theme.js" }}"></script>

  {{- with or site.Title site.Params.title | plainify }}
    <title>{{ . }}</title>
  {{- end }}

  <meta property="og:url" content="{{ .Permalink }}">
  {{- with or site.Title site.Params.title | plainify }}
    <meta property="og:site_name" content="{{ . }}">
  {{- end }}

  {{- with or .Title site.Title site.Params.title | plainify }}
    <meta property="og:title" content="{{ . }}">
  {{- end }}
  <meta property="og:type" content="website">
  <meta property="og:description" content="A collection of data on gacha elements that FFXIV provides the user." />
</head>